* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsla(0, 0%, 0%, 0.6);
  width: 100vw;
  height: 100vh;
}
nav {
  width: 30%;
  height: 100%;
  background-color: whitesmoke;
  box-shadow: 1px 0px 10px black;
}
nav ul {
  width: 100%;
  list-style-type: none;
}
nav li {
  padding: 30px 20px;
  width: 100%;
  background-color: hsl(0, 0%, 80%);
  text-align: center;
  transition: all 0.3s ease;
}
nav li:first-child {
  background-color: hsl(158, 95%, 34%);
}
nav li:first-child a {
  color: white;
}
nav li:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 20%);
}
nav li:hover a {
  color: white;
}
nav li:first-child:hover {
  background-color: hsl(158, 95%, 30%);
}
nav a {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  font-size: 2rem;
}
